# diabets dataset

**import libraries**

In [76]:
import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

**import dataset**

In [77]:
dataset = pd.read_csv('/content/diabetes.csv')
df = pd.DataFrame(dataset)
df.head(8)

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1
5            5      116             74  ...                     0.201   30        0
6            3       78             50  ...                     0.248   26        1
7           10      115              0  ...                     0.134   29        0

[8 rows x 9 columns]

In [78]:
X= df[['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin','BMI', 'DiabetesPedigreeFunction', 'Age']]
y = df['Outcome']

**Split and Fit**

In [79]:
 X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
 lr = LogisticRegression()
 lr.fit(X_train , y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

**Prediction**

In [80]:
y_predict = lr.predict(X_test)

ziped = zip(y_predict , y_test)
# list(ziped)

**Manual selection**

In [81]:
print(lr.predict([[0,	104,	58,	20,	0,	45.3,	0.248,	10	]]))
'''
Guid -----> 	
0-Pregnancies	
1-Glucose	
2-BloodPressure	
3-SkinThickness	
4-Insulin	
5-BMI	
6-Diabetes Pedigree Function	
7-Age	
'''

[0]

'\nGuid -----> \t\n0-Pregnancies\t\n1-Glucose\t\n2-BloodPressure\t\n3-SkinThickness\t\n4-Insulin\t\n5-BMI\t\n6-Diabetes Pedigree Function\t\n7-Age\t\n'